*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding-top: 20px;
    background: url(./images/developer.png) , url(./images/header_bg.png) ,rgba(255, 228, 196, 0.643);
    background-repeat: no-repeat;
    background-position:top left , bottom right;

}

.logo h2{
    font-size: 35px;
    letter-spacing: 1px;
    color: aqua;
    font-weight: bolder;
}
span{
    color: deeppink;
}
nav{
    width: 80%;
    max-width: 1100px;
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
nav .menu{
    align-items: center;
}
nav ul{
    display: flex;
    gap: 45px;

}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    font-size: 19px;
    color: aqua;
    letter-spacing: 1px;
    font-weight: 600;
}
.btn{
    padding: 7px 13px;
    font-size: 17px;
    letter-spacing: 1px;
    background-color:orangered;
    border: none;
    color: white;
    border-radius: 8px;
    transition: .4s ease-in;
    cursor: pointer;
}
.btn:hover{
    color: black;
}

#banner{
    /* border: 2px solid red; */
    margin:47px 38px 0 123px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-contant{
    max-width: 575px;
}
.banner-contant h2{
    font-size: 45px;
    color: gray;
    letter-spacing: 1px;
    font-weight: 500;
    padding-bottom: 10px;
}
.banner-contant h1{
    letter-spacing: 1px;
    color: black;
    padding-bottom: 10px;
    font-size: 55px;
}
.banner-contant p{
    font-size: 22px;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.banner-img img{
    max-width: 450px;
    vertical-align: middle;

}
