*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding-top: 20px;
    background: url(./images/developer.png) , url(./images/header_bg.png) ,rgba(255, 228, 196, 0.643);
    background-repeat: no-repeat;
    background-position:top left , bottom right;

}

.logo h2{
    font-size: 35px;
    letter-spacing: 1px;
    color: aqua;
    font-weight: bolder;
}
span{
    color: deeppink;
}
nav{
    width: 80%;
    max-width: 1100px;
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
nav .menu{
    align-items: center;
}
nav ul{
    display: flex;
    gap: 45px;

}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    font-size: 19px;
    color: aqua;
    letter-spacing: 1px;
    font-weight: 600;
}
.btn{
    padding: 7px 13px;
    font-size: 17px;
    letter-spacing: 1px;
    background-color:orangered;
    border: none;
    color: white;
    border-radius: 8px;
    transition: .4s ease-in;
    cursor: pointer;
}
.btn:hover{
    color: black;
}

#banner{
    /* border: 2px solid red; */
    margin:47px 38px 0 123px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-contant{
    max-width: 575px;
}
.banner-contant h2{
    font-size: 45px;
    color: gray;
    letter-spacing: 1px;
    font-weight: 500;
    padding-bottom: 10px;
}
.banner-contant h1{
    letter-spacing: 1px;
    color: black;
    padding-bottom: 10px;
    font-size: 55px;
}
.banner-contant p{
    font-size: 22px;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.banner-img img{
    max-width: 450px;
    vertical-align: middle;

}


#about{
    padding: 130px;
}
#about .about-container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    background-color: antiquewhite;
    padding: 120px 130px;
}
.section-heading h1{
    font-size: 40px;
    letter-spacing: 1px;
    color: aqua;
    padding-bottom: 20px;
}
.section-heading p{
    font-size: 18px;
    letter-spacing: 1px;
    padding-bottom: 15px;
}
.section-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-info p{
    font-size: 20px;
    letter-spacing: 1px;
}
.section-info h4{
    font-size: 18px;
}





#skills{
    padding-top: 100px;
}
#skills .skills-container{
    width: 80%;
    max-width: 1100px;
    background: antiquewhite;
    margin: 0 auto;
    text-align: center;
    padding: 50px ;
}
.skills-head h1{
    font-size: 40px;
    color: aqua;
    letter-spacing: 1px;
    padding-bottom: 15px;
}
.skills-head p{
    font-size: 18px;
    text-align: justify;
    padding-bottom: 25px;
}
.skills-box {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.skills-box .box{
    height: 235px;
    width: 200px;
    background-color: rgba(0, 255, 255, 0.161);
}
.box{
    transition: .2s ease-in-out;
    padding: 10px;
}
.box img{
    margin-top: 10px;
    border: 2px solid rgb(255, 0, 200);
    border-radius: 5px;
}
.box h2{
    font-size: 25px ;
    margin-top: 7px;
    margin-bottom: 6px;
}
.box p{
    font-size: 16px;
    text-align: justify;
}
.box:hover{
    border-radius: 20px;
    border: 2px solid deeppink;
    background:rgba(0, 255, 255, 0.215) ;
}